---
import SectionContainer from "../containers/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";

import Hero from "../components/Hero.astro";

import Experience from "../components/Experience.astro";
import ExperienceIcon from "../Icons/ExperienceIcon.astro";
import CodeIcon from "../Icons/CodeIcon.astro";
import Projects from "../components/Projects.astro";
---

<Layout
  title="ReynaldoDev - Desarrollador y Programador Web con 3 años de experiencia"
  description="Contrata a Reynaldo Moreno el Mejor Desarrollador y Porgramador Web con 3 años de experiencia, en el Desarrollo de Aplicaciones Unicas e Increibles."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py36">
      <Hero />
    </SectionContainer>

    <SectionContainer id="experience">
      <h2 class="text-2xl font-semibold mb-5 flex gap-x-3 items-center">
        <ExperienceIcon class="size-7" />
        Work Experience
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <h2 class="text-2xl font-semibold mb-5 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
        Projects
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
