---
import SectionContainer from "../containers/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import Linkedin from "../Icons/Linkedin.astro";
import GitHub from "../Icons/GitHub.astro";
import Mail from "../Icons/Mail.astro";
import Experience from "../components/Experience.astro";
import ExperienceIcon from "../Icons/ExperienceIcon.astro";
import CodeIcon from "../Icons/CodeIcon.astro";
import Projects from "../components/Projects.astro";
---

<Layout
  title="ReynaldoDev - Desarrollador y Programador Web con 3 años de experiencia"
  description="Contrata a Reynaldo Moreno el Mejor Desarrollador y Porgramador Web con 3 años de experiencia, en el Desarrollo de Aplicaciones Unicas e Increibles."
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-24">
      <img
        src="../../public/foto_reynaldo.jpg"
        alt=" Foto Reynaldo"
        class="rounded-full size-12 mb-4"
      />
      <h1
        class="text-white text-2xl md:text-4xl lg:text-4xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, I'm Reynaldo Moreno

        <a
          class="flex justify-center items-center"
          href="https://www.linkedin.com/in/reynaldo-moreno-2abab11b6/"
          target="_blank"
          rel="noopenner"><Badge>disponible for work</Badge></a
        >
      </h1>
      <h2 class="text-xl lg:text-2xl
					opacity-80 text-wrap max-w-[700px]">
        +3 Years of experience. <span class="text-yellow-200/90"
          >Web Developer & Content Creator</span
        >. From Venezuela. Specialized in creating unique applications
      </h2>

      <nav class="flex gap-4 mt-3 flex-wrap">
        <SocialPill
          href="https://www.linkedin.com/in/reynaldo-moreno-2abab11b6/"
        >
          <Linkedin class="size-4 lg:size-6" />
          Linkedin
        </SocialPill>
        <SocialPill href="https://github.com/Rmoreno3">
          <GitHub class="size-4 lg:size-6" />
          Github
        </SocialPill>
        <SocialPill href="mailto:reynaldomoreno173@gmail.com">
          <Mail class="size-4 lg:size-6" />
          reynaldomoreno173@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experience">
      <h2 class="text-2xl font-semibold mb-5 flex gap-x-3 items-center">
        <ExperienceIcon class="size-7" />
        Work Experience
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <h2 class="text-2xl font-semibold mb-5 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
        Projects
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
