---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "January 2021 - Present",
    title: "Frontend Developer Freelance",
    description:
      "Freelance frontend developer developing personal projects and websites for small businesses and local businesses.",
    link: "",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
