<a
  class="bg-gray-100 rounded-full border dark:border-white/10 dark:bg-white/5 hover:scale-105 dark:hover:bg-emerald-600 hover:border-white transition flex justify-center items-center gap-x-2 px-2 py-2 lg:py-2 lg:px-3"
  {...Astro.props}
  target="_blank"
  rel="noopenner noreferrer"
>
  <slot />
</a>
